 .background{ 
    background:url(image/background\ 1.png );
    height: 768px;
    width: 1366px;
    margin: 0 auto;
      
} 

.main-logo{
    text-decoration: none;  
}
 .castle-logo{
    margin-left: 161px;
    margin-top: 51px;
    margin-right: 8px;
    float: left; 
    background-image: url(image/logo\ 3\ \(2\).svg);
      
}
.castle-logo:hover{
 background-image: url(image/logo\ 2.svg);  
 
} 
.Milan{
    padding-top: 51px;
    color: white;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}
.Milan:hover{
    color: #F26522;
}
.Holidays{
 padding-top: 3px;
 color: white;
 font-weight: 700;
 font-size: 18px;
 line-height: 18px
}
.Holidays:hover{
color: #F26522;
}

.main-logo:hover .Milan,
.main-logo:hover .Holidays {
  color: #F26522;
}
.email{
 position: absolute; 
text-align: right;
color: white;
font-weight: 400;
font-size: 18px;
line-height: 18px;
width: 219px;
height: 21px;
left: 1246px;
top: 46px;   
}
.number{
position: absolute;
text-align: right;
color: white;
font-weight: 400;
font-size: 18px;
line-height: 18px;
width: 146px;
height: 21px;
left: 1320px;
top: 86px
}
.email:hover{
    color: #F26522;
}
.number:hover{
    color: #F26522;
}
.grid-panel{
    display: grid;
    grid-template-columns: repeat(3,310px);
    grid-template-rows: repeat(2,290px);
    margin-left: 150px;
    margin-top:20px ; 
     
    }
 .first-photo{
    position: relative;
    text-decoration: none;
    text-align: center; 
    height: 220px;
    width: 300px;
 }
 
 .shopping{
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
    color: white;
}
.first-photo:hover .hover-orange {
    opacity: 1;
}
.hover-orange {
    position: absolute;
    bottom: -1px;
    left: 2px;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    opacity: 0;
    display: flex;
    
}
.hover1 {
    margin-left: 16px;
    bottom: 40px;
    position: absolute;
    margin-right: 10px;
    font-size: 10px;
    line-height: 10px;
    color: white;
    opacity: 1;

}
.hover2 {
    
    position: absolute;
    bottom: 8px;
    margin-left: 16px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    opacity: 1;
}
.first-photo:hover .hover-orange {
    opacity: 1;
  }
   .first-photo:hover .shopping {
    opacity: 1;
    color:#F26522;
  }
  .hover1, .hover2, .hover3,{
    
    opacity:0;
  }
  .first-photo:hover .hover1, .first-photo:hover .hover2,.first-photo:hover .hover3,{
    opacity:1;}



.hover3 {
    
    position: absolute;
    bottom: 8px;
    margin-left: 170px;
    font-size: 14px;
    line-height: 14px;
    color: white;
    opacity: 1;
}
.hover3::after{
    content: ">";
    margin-left: 16px;
    
}
   .second-photo{
    text-decoration: none;
    text-align: center;
    height: 220px;
    width: 300px;
    margin-left: 60px;
   }
   .text2{  
    font-weight: 400px;
    font-size: 18px;
    line-height: 18px;
    color: white;
    margin-top: 15px;
   }
   .third-photo{
    text-decoration: none;
    text-align: center;
    height: 220px;
    width: 300px;
    margin-left: 120px;
   }
   .text3{
    margin-top: 20px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 18px;
    color: white;
   }
.fourth-photo{
    text-decoration: none;
    text-align: center;
    height: 220px;
    width: 300px;
}
.text4{
    margin-top: 20px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 18px;
    color: white;
}
.fifth-photo{
    text-decoration: none;
    text-align: center;
    height: 220px;
    width: 300px;
    margin-left: 60px;
}
.text5{
    font-weight: 400px;
    font-size: 18px;
    line-height: 18px;
    color: white;
    margin-top: 20px;
}
.sixth-photo{
    text-decoration: none;
    text-align: center;
    height: 220px;
    width: 300px;
    margin-left: 120px;
}
.text6{
    font-weight: 400px;
    font-size: 18px;
    line-height: 18px;
    color: white;
    margin-top: 20px;
}
.copyright{
    color: white;
    margin-left: 530px;
    margin-top: 35px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}